.game-info-panel {
  position: relative;
  bottom: 1100px;
  left: 20px;
  border: 2px solid blue;
  width: 250px;
  height: 600px;
}

.game-info-label {
  font-size: 16px;
  font-weight: bold;
  margin: 5px 5px 5px 15px;
  height: 20px;
}
